<div class="form-container">
  <div class="main-title">
    <h1>予定一覧</h1>
    <p><%= link_to "新規追加", new_schedule_path, class: "btn btn-primary" %></p>
  </div>  

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= schedule.start_date.strftime("%Y/%m/%d") %></td>
          <td><%= schedule.end_date.strftime("%Y/%m/%d") %></td>
          <td><%= schedule.all_day ? "◯" : "" %></td>
          <td><%= schedule.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to "詳細", schedule_path(schedule), class: "non-decoration" %>
          </td>
          <td>
            <%= link_to "編集", edit_schedule_path(schedule), class: "non-decoration" %>
          </td>
          <td>
            <%= link_to "削除", schedule_path(schedule), method: :delete, data:
            { confirm: "「#{schedule.title}」を削除してよろしいですか？<br>この操作は取り消せません。",
              cancel: "キャンセル",
              commit: "削除" }, title: "予定を削除しますか？", class: "non-decoration" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="footer-container">
    <p>
      <%= "予定合計 " %>
      <span class="total_schedules"><%= @schedules.count.to_s %></span>
      <%= " 件" %>
    </p>
    <p><%= "本日の日付 : " + Date.today.strftime("%Y/%m/%d") %></p>
  </div>
</div>