<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.end_date.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @schedule.all_day %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.memo %></td>
  </tr>
</table>

<%= link_to "← 一覧に戻る", schedules_path %>